.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-12 { font-size: 12px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

@media screen and (max-width: 768px){
    .sidemenu-custom {
        width: 100%;
    }
    .content-custom {
        padding: 3.0vh 2.0vw 3.0vh 2.0vw;
    }
}
@media screen and (min-width: 768px) {
    .sidemenu-custom {
        overflow-y: auto;
        max-height: 80vh;
        width: 100%;
    }
    .content-custom {
        padding: 3.0vh 1.0vw 3.0vh 1.5vw;
    }
}

.bottom-underline{
    border-bottom: solid 1px #f0ad4e;
}

.custom-border-form{
    border:solid 1px rgba(0,0,0,0.06);
}

body {
  font-family: 'Fira Sans', sans-serif;
}

/*CSS Notification Badge*/
md-badge{
  position:absolute;
   top:8px;
   margin: 0 0 0 1px;
   font-size:.6em;
   background:red;
   color:white;
   width:16px;height:16px;
   text-align:center;
   line-height:17px;
   border-radius:50%;
   box-shadow:0 0 1px #ccc;
}

/*Scroll bar*/
::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.2); 
}
