.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-12 { font-size: 12px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

@media screen and (max-width: 768px){
    .sidemenu-custom {
        width: 100%;
    }
    .content-custom {
        padding: 3.0vh 2.0vw 3.0vh 2.0vw;
    }
    /*view mobile block*/
    .custom-view-mobile {
        display: block;
    }
    /*view desktop none*/
    .custom-view-desktop {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .sidemenu-custom {
        overflow-y: auto;
        max-height: 80vh;
        width: 100%;
    }
    .content-custom {
        padding: 3.0vh 1.0vw 3.0vh 1.5vw;
    }

    /*Scroll bar*/
    ::-webkit-scrollbar {
        width: 6px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
        -webkit-border-radius: 10px;
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
        border-radius: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(0,0,0,0.1);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
        border-radius: 10px;
        -webkit-border-radius: 10px; 
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(0,0,0,0.2); 
    }
    /*view mobile none*/
    .custom-view-mobile {
        display: none;
    }
    /*view desktop block*/
    .custom-view-desktop {
        display: block;
    }

}

.bottom-underline{
    border-bottom: solid 1px #f0ad4e;
}

.custom-border-form{
    border:solid 1px rgba(0,0,0,0.06);
}

body {
  font-family: 'Fira Sans', sans-serif;
}

/*CSS Notification Badge*/
md-badge{
  position:absolute;
   top:8px;
   margin: 0 0 0 1px;
   font-size:.6em;
   background:red;
   color:white;
   width:16px;height:16px;
   text-align:center;
   line-height:17px;
   border-radius:50%;
   box-shadow:0 0 1px #ccc;
}

/*Notification popup menu*/
.custom-menu-content-notification {
    min-height:310px;
}
.custom-notification {
   width:270px;
   height:320px;
   margin:-8px 0;
   padding:0;
}
.custom-notification-header {
   width:100%;
   padding:0 5px;
   height:34px !important;
   position:absolute;
   top:0;
   background:rgba(255,255,255,1);
   z-index:99999; 
   text-align:center;
}
.custom-notification-header-text {
   color:rgba(0,0,0,1);
   padding:8px 8px 5px;
   font-size:13px;
   font-weight:bold;
}
.custom-notification-content {
   margin:34px 0 26px 0;
   padding:0;
   position:relative;
}
.custom-notification-list {
   margin-top:-7px;
}
.custom-notification-footer {
   width:100%;
   padding:0 5px;
   height:34px !important;
   position:absolute;
   bottom:0;
   background:rgba(255,255,255,1);
}
.custom-notification-footer-text {
   color:rgba(0,0,0,0.7);
   padding:8px 8px 5px;
   font-size:13px;
   margin-left:60px;
   text-decoration:none;
}

/*Profile popup menu*/
.custom-menu-content-profile {
    min-height:267px;
}
.custom-profile {
   width:270px;
   height:250px;
   margin:-8px 0;
   padding:0;
}
.custom-profile-bg {
   height: 110px !important;
   background-color:#e91e63;
}
.custom-profile-title {
   margin-top:auto !important;
}
.custom-profile-title-img {
   margin:-70px auto;
   width:80px;
   height:80px;
}
.custom-profile-content-name {
   font-weight:bold;
   text-transform:uppercase;
}



