.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

@media screen and (max-width: 768px){
    .sidemenu-custom {
        overflow-y: auto;
        height: 75vh;
        width: 100%;
    }
    .content-custom {
        padding: 3.0vh 2.0vw 3.0vh 2.0vw;
    }
}
@media screen and (min-width: 768px) {
    .sidemenu-custom {
        position: relative;
        overflow-y: auto;
        height: 75vh;
        width: 100%;
    }
    .content-custom {
        padding: 3.0vh 1.0vw 3.0vh 1.5vw;
    }
}

.bottom-underline{
    border-bottom: solid 1px #f0ad4e;
}

.custom-border-form{
    border:solid 1px rgba(0,0,0,0.06);
}

body {
  font-family: 'Fira Sans', sans-serif;
}
