RewriteEngine On

# Map http://www.example.com to /app.
RewriteRule ^$ ./app/ [L]

# Map http://www.example.com/x to /app/x unless there is a x in the web root.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^./app/
RewriteRule ^(.*)$ ./app/$1