<span flex></span>
<md-card>

    <md-content>

        <md-toolbar class="md-accent md-whiteframe-1dp" style="height: 30px;border-left:solid 10px #01579b;">

            <div class="md-toolbar-tools">

                <h2 flex>This is the blank page view.</h2>

                <md-button class="md-icon-button">
                    <md-tooltip md-direction="bottom">Refresh</md-tooltip>
                    <md-icon md-menu-origin md-font-library="material-icons">autorenew</md-icon>
                </md-button>

                <md-button class="md-icon-button">
                    <md-tooltip md-direction="bottom">Share</md-tooltip>
                    <md-icon md-menu-origin md-font-library="material-icons">share</md-icon>
                </md-button>

            </div>

        </md-toolbar>

        <md-content layout-padding>

            the blank page view...

        </md-content>

    </md-content>

</md-card>