<!--TODO: Toolbar-->
<!--<div ng-include="'views/toolbar-header.html'"></div>-->
<amd-toolbar-header></amd-toolbar-header>

<section layout="row" flex>
    <!--TODO: Side nav menu-->
    <div ng-include="'views/sidenav-menu.html'" class="md-whiteframe-3dp" style="background:#ffffff;z-index:99999;"></div>

    <div id="bg">
        <img src="http://wallpapercave.com/wp/Ib27xC1.jpg" alt="background cover">
    </div>

    <!--TODO: Content-->
    <md-content flex layout-padding ng-view="" style="background-color: rgba(238, 238, 238,0.5);padding-top:0;">

    </md-content>

</section>