<span flex></span>
<md-card>

    <md-content>

        <md-toolbar class="md-accent md-whiteframe-1dp" style="height: 30px;border-left:solid 10px #01579b;">

            <div class="md-toolbar-tools">
                <h2 flex md-truncate>This is the About view.</h2>

                <md-button class="md-icon-button">
                    <md-tooltip md-direction="bottom">Refresh</md-tooltip>
                    <md-icon md-menu-origin md-font-library="material-icons">autorenew</md-icon>
                </md-button>

                <md-button class="md-icon-button">
                    <md-tooltip md-direction="bottom">Share</md-tooltip>
                    <md-icon md-menu-origin md-font-library="material-icons">share</md-icon>
                </md-button>

            </div>

        </md-toolbar>

        <md-content class="md-padding">
            Where can I get some? There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
            to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
            text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this
            the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful
            of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore
            always free from repetition, injected humour, or non-characteristic words etc. Where can I get some? There are
            many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
            by injected humour, or randomised words
            <h1 class="md-display-1">which don't look even slightly believable</h1>. If you are going to use a passage of Lorem Ipsum, you need to
            be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the
            Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
            It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate
            Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected
            humour, or non-characteristic words etc. Where can I get some? There are many variations of passages of Lorem
            Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words
            which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure
            there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet
            tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses
            a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem
            Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour,
            or non-characteristic words etc. Where can I get some? There are many variations of passages of Lorem Ipsum available,
            but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look
            even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
            embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined
            chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin
            words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
            The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words
            etc. Where can I get some? There are many variations of passages of Lorem Ipsum available, but the majority have
            suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable
            . If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden
            in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
            making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined
            with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem
            Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc. Where can I
            get some? There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
            to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
            text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this
            the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful
            of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore
            always free from repetition, injected humour, or non-characteristic words etc. Where can I get some? There are
            many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
            by injected humour, or randomised words which don't look even slightly believable. If you are going to use a
            passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All
            the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first
            true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model
            sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always
            free from repetition, injected humour, or non-characteristic words etc. Where can I get some? There are many
            variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected
            humour, or randomised words which don't look even slightly believable . If you are going to use a passage of
            Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem
            Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator
            on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures,
            to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition,
            injected humour, or non-characteristic words etc. Where can I get some? There are many variations of passages
            of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
            words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to
            be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the
            Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
            It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate
            Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected
            humour, or non-characteristic words etc.
        </md-content>

    </md-content>

</md-card>

<!-- Advertisement  -->
<advertisement></advertisement>