<span flex></span>
<md-card>

    <md-content>

        <md-toolbar class="md-accent md-whiteframe-1dp" style="height: 30px;border-left:solid 10px" md-colors="{'border-color': 'altTheme-primary'}">

            <div class="md-toolbar-tools">

                <h2 flex>This is the accordian view.</h2>

                <md-button class="md-icon-button">
                    <md-tooltip md-direction="bottom">Refresh</md-tooltip>
                    <md-icon md-menu-origin md-font-library="material-icons">autorenew</md-icon>
                </md-button>

                <md-button class="md-icon-button">
                    <md-tooltip md-direction="bottom">Share</md-tooltip>
                    <md-icon md-menu-origin md-font-library="material-icons">share</md-icon>
                </md-button>

            </div>

        </md-toolbar>

        <md-content layout-padding>

            <amd-accordian class="panel-group" id="accordion-amd">

                <md-toolbar class="md-accent md-whiteframe-1dp" data-toggle="collapse" data-parent="#accordion-amd" href="javascript:void(0);#collapse1">

                    <div class="md-toolbar-tools">

                        <h2 flex>Collapsible Group Item #1</h2>

                    </div>

                </md-toolbar>

                <md-content layout-padding id="collapse1" class="collapse">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                    tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                    anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                    excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                    you probably haven't heard of them accusamus labore sustainable VHS.
                </md-content>

                <md-toolbar class="md-accent md-whiteframe-1dp" data-toggle="collapse" data-parent="#accordion-amd" href="javascript:void(0);#collapse2"
                    aria-expanded="false" aria-controls="collapse2">

                    <div class="md-toolbar-tools">

                        <h2 flex>Collapsible Group Item #2</h2>

                    </div>

                </md-toolbar>

                <md-content layout-padding id="collapse2" class="collapse">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                    tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                    anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                    excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                    you probably haven't heard of them accusamus labore sustainable VHS.
                </md-content>

                <md-toolbar class="md-accent md-whiteframe-1dp" data-toggle="collapse" data-parent="#accordion-amd" href="javascript:void(0);#collapse3"
                    aria-expanded="false" aria-controls="collapse3">

                    <div class="md-toolbar-tools">

                        <h2 flex>Collapsible Group Item #3</h2>

                    </div>

                </md-toolbar>

                <md-content layout-padding id="collapse3" class="collapse">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                    tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                    anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                    excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                    you probably haven't heard of them accusamus labore sustainable VHS.
                </md-content>

            </amd-accordian>


        </md-content>

    </md-content>

</md-card>

<!-- Advertisement  -->
<advertisement></advertisement>