<md-content layout-padding class="dashboard-card">

  <md-grid-list 
                md-cols-gt-md="6" md-cols="3" md-cols-md="6" md-cols-sm="4" md-cols-xs="2" 
                md-row-height-gt-md="1:1" md-row-height="4:3" md-row-height-md="4:4" md-row-height-sm="4:4" md-row-height-xs="{{$ctrl.mdrowheightxs}}" 
                md-gutter-gt-md="16px" md-gutter="16px" md-gutter-md="16px" md-gutter-sm="8px" md-gutter-xs="8px">

    <md-grid-tile class="bg-purple-darken-4 md-whiteframe-3dp" md-colspan="2">
      <h4>NEW CLIENTS</h4>
      <h1>170,317</h1>
      <md-grid-tile-footer>
        <h4><a href="javascript:void(0)">View Details</a></h4>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="bg-pink-darken-2 md-whiteframe-3dp" md-colspan="2">
      <h4>TOTAL SALES</h4>
      <h1>$28,456</h1>
      <md-grid-tile-footer>
        <h4><a href="javascript:void(0)">View Details</a></h4>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="bg-orange-darken-4 md-whiteframe-3dp" md-colspan="2">
      <h4>TODAY PROFIT</h4>
      <h1>$8,456.62</h1>
      <md-grid-tile-footer>
        <h4><a href="javascript:void(0)">View Details</a></h4>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="bg-green-darken-2 md-whiteframe-3dp" md-colspan="2">
      <md-icon md-font-library="material-icons" class="icon-dashboard-card">content_paste</md-icon>
      <div class="text-dashboard-card">
        <h4>NEW INVOICE</h4>
        <h1>565</h1>
      </div>
      <md-grid-tile-footer>
        <h4><a href="javascript:void(0)">View Details</a></h4>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="bg-red-accent-4 md-whiteframe-3dp" md-colspan="2">
      <md-icon md-font-library="material-icons" class="icon-dashboard-card">show_chart</md-icon>
      <div class="text-dashboard-card">
        <h4>BRAND POPULARITY</h4>
        <h1>+88%</h1>
      </div>
      <md-grid-tile-footer>
        <h4><a href="javascript:void(0)">View Details</a></h4>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="bg-light-blue-darken-4 md-whiteframe-3dp" md-colspan="2">
      <md-icon md-font-library="material-icons" class="icon-dashboard-card">queue</md-icon>
      <div class="text-dashboard-card">
        <h4>NEW ORDERS</h4>
        <h1>1,052</h1>
      </div>
      <md-grid-tile-footer>
        <h4><a href="javascript:void(0)">View Details</a></h4>
      </md-grid-tile-footer>
    </md-grid-tile>

  </md-grid-list>

</md-content>

<div layout="row" layout-xs="column">

  <div flex-gt-sm="50">

    <amd-profile-form></amd-profile-form>

  </div>

  <span flex></span>

  <div flex-gt-sm="50">

    <amd-table></amd-table>

    <amd-table></amd-table>

  </div>
</div>

<amd-blank-page></amd-blank-page>