<div ng-controller="SidenavMenuCtrl as $ctrl">

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

        <md-toolbar class="md-primary md-whiteframe-1dp" style="background: center center url('http://wallpapercave.com/wp/Ib27xC1.jpg');">
            <md-list>
                <md-list-item class="md-2-line" role="listitem">
                    <img ng-src="./app/images/user.png" class="md-avatar md-whiteframe-3dp" alt="Zulclunk">
                    <div class="md-list-item-text">
                        <h4 style="color: #ffffff;">Zul Bakar</h4>
                        <p style="color: #ffffff;">zulbakar88@gmail.com</p>
                    </div>
                    <div class="md-secondary-container">
                        <md-button ng-click="$ctrl.close()" class="md-icon-button" aria-label="close sidenav" hide-gt-md>
                            <md-icon md-menu-origin md-font-library="material-icons">close</md-icon>
                        </md-button>
                    </div>
                </md-list-item>
            </md-list>

        </md-toolbar>

        <md-content layout-padding class="sidemenu-custom">

            <ul class="nav">
                    <li>
                        <a href="javascript:void(0);" ng-click="$ctrl.go('/input')" ng-class="{'{{$ctrl.classActive}}':$ctrl.$location.path() === '/'}"
                        >
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="active">
                        <a data-toggle="collapse" href="javascript:void(0);#pagesExamples" aria-expanded="false" class="collapsed">
                            <i class="material-icons">image</i>
                            <p>Pages
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="pagesExamples" aria-expanded="false" style="height: 0px;">
                            <ul class="nav">
                                <li>
                                    <a href="javascript:void(0);" ng-click="$ctrl.go('/pages/login')" ng-class="{'{{$ctrl.classActive}}':$ctrl.$location.path() === '/pages/login'}">Login</a>
                                </li>
                                <li class="active">
                                    <a href="javascript:void(0);" ng-click="$ctrl.go('/pages/register')" ng-class="{'{{$ctrl.classActive}}':$ctrl.$location.path() === '/pages/register'}">Register</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" ng-click="$ctrl.go('/profile')" ng-class="{'{{$ctrl.classActive}}':$ctrl.$location.path() === '/profile'}">Profile</a>
                                </li>
                            </ul>
                        </div>
                    </li>
            
                    <!-- <li>
                        <a data-toggle="collapse" href="javascript:void(0);#tablesExamples">
                            <i class="material-icons">grid_on</i>
                            <p>Tables
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="tablesExamples">
                            <ul class="nav">
                                <li>
                                    <a href="">Regular Tables</a>
                                </li>
                                <li>
                                    <a href="">Extended Tables</a>
                                </li>
                                <li>
                                    <a href="">DataTables.net</a>
                                </li>
                            </ul>
                        </div>
                    </li> -->
                    <br/>
                    <md-divider ></md-divider>
                    <li>
                        <a href="javascript:void(0);" ng-click="$ctrl.go('/form')" ng-class="{'{{$ctrl.classActive}}':$ctrl.$location.path() === '/form'}">
                            <i class="material-icons">content_paste</i>
                            <p>Form</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" ng-click="$ctrl.go('/about')" ng-class="{'{{$ctrl.classActive}}':$ctrl.$location.path() === '/about'}">
                            <i class="material-icons">widgets</i>
                            <p>About</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" ng-click="$ctrl.go('/table')" ng-class="{'{{$ctrl.classActive}}':$ctrl.$location.path() === '/table'}">
                            <i class="material-icons">grid_on</i>
                            <p>Tables</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" ng-click="$ctrl.go('/accordian')" ng-class="{'{{$ctrl.classActive}}':$ctrl.$location.path() === '/accordian'}">
                            <i class="material-icons">storage</i>
                            <p>Accordian</p>
                        </a>
                    </li>
                </ul>

        </md-content>

    </md-sidenav>

    <div class="sidemenu-footer">Copyright (C) 2017 ZulBakar. All rights reserved.</div>

</div>