<div ng-controller="ToolbarHeaderCtrl as $ctrl">

    <md-toolbar class="md-primary md-whiteframe-3dp">

        <div class="md-toolbar-tools">

            <md-button class="md-icon-button" aria-label="Settings" ng-disabled="false" ng-click="toggleLeft()" hide-gt-md md-is-locked-open="$mdMedia('gt-md')">
                <md-icon md-font-library="material-icons">menu</md-icon>
            </md-button>

            <h2 flex md-truncate>Angular Material Boilerplate</h2>

            <md-menu>
                <md-button ng-click="$mdMenu.open($event)" class="md-icon-button" aria-label="Open some menu">
                    <md-icon md-menu-origin md-font-library="material-icons">add_alert</md-icon>
                </md-button>

                <md-menu-content class="md-dense" style="min-height:30vh;max-height:50vh;">

                    <md-list class="md-dense">
                        <md-subheader class="md-no-sticky md-accent md-toolbar-tools" style="height:2vh;padding-bottom:1vh;">Notifications</md-subheader>
                        <md-divider></md-divider>

                        <md-list-item class="md-2-line" ng-click="null">
                            <md-icon md-menu-origin md-font-library="material-icons" class="md-accent">warning</md-icon>
                            <div class="md-list-item-text">
                                <p>I'll be in your neighborhood doing errands</p>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line" ng-click="null">
                            <md-icon md-menu-origin md-font-library="material-icons" class="md-primary">error</md-icon>
                            <div class="md-list-item-text">
                                <p>I'll be in your neighborhood doing errands</p>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line" ng-click="null">
                            <md-icon md-menu-origin md-font-library="material-icons" class="md-accent">warning</md-icon>
                            <div class="md-list-item-text">
                                <p>I'll be in your neighborhood doing errands</p>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line" ng-click="null">
                            <md-icon md-menu-origin md-font-library="material-icons" class="md-primary">error</md-icon>
                            <div class="md-list-item-text">
                                <p>I'll be in your neighborhood doing errands</p>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line" ng-click="null">
                            <md-icon md-menu-origin md-font-library="material-icons" class="md-primary">error</md-icon>
                            <div class="md-list-item-text">
                                <p>I'll be in your neighborhood doing errands</p>
                            </div>
                        </md-list-item>

                        <md-divider></md-divider>

                        <md-list-item class="md-2-line" style="height:1vh;padding-top:2vh;">
                            <md-subheader ng-click="null" class="md-toolbar-tools" style="height:2vh;padding-top:2vh;">view all Notifications</md-subheader>
                        </md-list-item>
                    </md-list>

                </md-menu-content>

            </md-menu>

            <md-menu>
                <md-button ng-click="$mdMenu.open($event)" class="md-icon-button" aria-label="Open some menu">
                    <md-icon md-menu-origin md-font-library="material-icons">more_vert</md-icon>
                </md-button>

                <md-menu-content>

                    <md-menu-item>
                        <md-button ng-click="doSomething()" aria-label="Do something">
                            <md-icon md-menu-origin md-font-library="material-icons">account_box</md-icon>
                            Profile
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button ng-click="doSomething()" aria-label="Setting">
                            <md-icon md-menu-origin md-font-library="material-icons">settings</md-icon>
                            Setting
                        </md-button>
                    </md-menu-item>

                    <md-divider></md-divider>

                    <md-menu-item>
                        <md-button ng-click="doSomething()" aria-label="Log Keluar">
                            <md-icon md-menu-origin md-font-library="material-icons">exit_to_app</md-icon>
                            Log Keluar
                        </md-button>
                    </md-menu-item>

                </md-menu-content>

            </md-menu>

        </div>

    </md-toolbar>

</div>