<div ng-controller="ToolbarHeaderCtrl as $ctrl">

    <md-toolbar class="md-primary md-whiteframe-3dp">

        <div class="md-toolbar-tools">

            <md-button class="md-icon-button" aria-label="Settings" ng-disabled="false" ng-click="toggleLeft()" hide-gt-md md-is-locked-open="$mdMedia('gt-md')">
                <md-icon md-font-library="material-icons">menu</md-icon>
            </md-button>

            <h2 flex md-truncate>Angular Material Design</h2>

            <md-menu>
                <md-button ng-click="$mdMenu.open($event)" class="md-icon-button" aria-label="Open some menu">
                    <md-tooltip md-direction="bottom">Notifications</md-tooltip>
                    <md-icon md-menu-origin md-font-library="material-icons">notifications</md-icon>
                    <md-badge>10</md-badge>
                </md-button>

                <md-menu-content class="md-dense custom-menu-content-notification">

                    <md-card flex class="custom-notification">

                        <div class="custom-notification-header">
                            <span class="md-headline custom-notification-header-text">
                                NOTIFICATIONS
                            </span>

                            <md-divider></md-divider>
                        </div>

                        <md-card-content class="custom-notification-content">

                            <md-content>

                                <md-list class="md-dense custom-notification-list">

                                    <md-list-item class="md-2-line" ng-click="null">
                                        <md-icon md-menu-origin md-font-library="material-icons" class="md-accent">warning</md-icon>
                                        <div class="md-list-item-text">
                                            <h3>12 new members joined</h3>
                                            <p style="font-size:11px;">30 sec ago</p>
                                        </div>
                                    </md-list-item>

                                    <md-divider></md-divider>

                                    <md-list-item class="md-2-line" ng-click="null">
                                        <md-icon md-menu-origin md-font-library="material-icons" class="md-primary">error</md-icon>
                                        <div class="md-list-item-text">
                                            <h3>4 sales made</h3>
                                            <p style="font-size:11px;">1 min ago</p>
                                        </div>
                                    </md-list-item>

                                    <md-divider></md-divider>

                                    <md-list-item class="md-2-line" ng-click="null">
                                        <md-icon md-menu-origin md-font-library="material-icons" class="md-accent">warning</md-icon>
                                        <div class="md-list-item-text">
                                            <h3>Nancy Doe deleted account</h3>
                                            <p style="font-size:11px;">5 min ago</p>
                                        </div>
                                    </md-list-item>

                                    <md-divider></md-divider>

                                    <md-list-item class="md-2-line" ng-click="null">
                                        <md-icon md-menu-origin md-font-library="material-icons" class="md-primary">error</md-icon>
                                        <div class="md-list-item-text">
                                            <h3>Nancy changed name</h3>
                                            <p style="font-size:11px;">10 min ago</p>
                                        </div>
                                    </md-list-item>

                                    <md-divider></md-divider>

                                    <md-list-item class="md-2-line" ng-click="null">
                                        <md-icon md-menu-origin md-font-library="material-icons" class="md-accent">warning</md-icon>
                                        <div class="md-list-item-text">
                                            <h3>zulBakar commented your post</h3>
                                            <p style="font-size:11px;">14 min ago</p>
                                        </div>
                                    </md-list-item>

                                    <md-divider></md-divider>

                                    <md-list-item class="md-2-line" ng-click="null">
                                        <md-icon md-menu-origin md-font-library="material-icons" class="md-accent">warning</md-icon>
                                        <div class="md-list-item-text">
                                            <h3>zulBakar update status</h3>
                                            <p style="font-size:11px;">20 min ago</p>
                                        </div>
                                    </md-list-item>

                                    <md-divider></md-divider>

                                    <md-list-item class="md-2-line" ng-click="null">
                                        <md-icon md-menu-origin md-font-library="material-icons" class="md-primary">error</md-icon>
                                        <div class="md-list-item-text">
                                            <h3>settings updated</h3>
                                            <p style="font-size:11px;">30 min ago</p>
                                        </div>
                                    </md-list-item>

                                    <md-divider></md-divider>

                                    <md-list-item class="md-2-line" ng-click="null">
                                        <md-icon md-menu-origin md-font-library="material-icons" class="md-accent">warning</md-icon>
                                        <div class="md-list-item-text">
                                            <p>I'll be in your neighborhood doing errands 8</p>
                                        </div>
                                    </md-list-item>

                                    <md-divider></md-divider>

                                    <md-list-item class="md-2-line" ng-click="null">
                                        <md-icon md-menu-origin md-font-library="material-icons" class="md-primary">error</md-icon>
                                        <div class="md-list-item-text">
                                            <p>I'll be in your neighborhood doing errands 9</p>
                                        </div>
                                    </md-list-item>

                                    <md-divider></md-divider>

                                    <md-list-item class="md-2-line" ng-click="null">
                                        <md-icon md-menu-origin md-font-library="material-icons" class="md-accent">warning</md-icon>
                                        <div class="md-list-item-text">
                                            <p>I'll be in your neighborhood doing errands 10</p>
                                        </div>
                                    </md-list-item>

                                </md-list>

                            </md-content>

                        </md-card-content>

                        <div class="custom-notification-footer">

                            <md-divider></md-divider>

                            <a href="#/" class="md-headline custom-notification-footer-text" ng-click="$event.preventDefault();null">
                                view all Notifications
                            </a>

                        </div>

                    </md-card>

                </md-menu-content>

            </md-menu>

            <md-menu>
                <md-button ng-click="$mdMenu.open($event)" class="md-icon-button" aria-label="Open some menu">
                    <md-tooltip md-direction="bottom">User</md-tooltip>
                    <md-icon md-menu-origin md-font-library="material-icons">person</md-icon>
                </md-button>

                <md-menu-content class="md-dense custom-menu-content-profile">

                    <md-card flex class="custom-profile">

                        <img style="height: 110px !important;" ng-src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0Bx4BSt6jniD7Wm9Tcmx5d2tueUE/style_imagery_bestpractices_narrative1.png"
                            class="md-card-image" alt="Zul Bakar">

                        <div class="custom-profile-bg"></div>

                        <md-card-title class="custom-profile-title">
                            <img ng-src="./app/images/user.png" class="img-circle md-whiteframe-3dp custom-profile-title-img"
                                alt="Zul Bakar">
                        </md-card-title>

                        <md-card-content>
                            <md-content layout-padding class="md-no-momentum custom-profile-content-name">
                                <center>Zul Bakar</center>
                            </md-content>

                            <md-divider></md-divider>
                            <center>
                                <md-button ng-click="doSomething()" aria-label="Do something">
                                    <md-icon md-menu-origin md-font-library="material-icons">account_box</md-icon>
                                    Profile
                                </md-button>
                                <md-button ng-click="doSomething()" aria-label="Do something">
                                    <md-icon md-menu-origin md-font-library="material-icons">exit_to_app</md-icon>
                                    Logout
                                </md-button>
                            </center>
                        </md-card-content>

                    </md-card>

                </md-menu-content>

        </div>

    </md-toolbar>

</div>